<h1>Unity</h1>
<form action="/signin" method="POST">
  <input type="text" name="username" placeholder="username" />
  <input type="password" name="password" placeholder="password" />
  <button value="login" type="submit">login</button>
</form>

<br>

<form action="/signup" method="POST">
  <input type="text" name="username" placeholder="username"/>
  <input type="password" name="password" placeholder="password" />
  <input type="text" name="name" placeholder="name" />
  <button class="signup" value="signup" type="submit">signup</button>
</form>

