<h1><%= @user.name%></h1>
<input id="user_id" type='hidden' value='<%= @user.id%>'>
<div id="buttons">
  <button class="down">Show Down Votes</button>
  <br><br>
  <button class="up">Show Up Votes</button>
</div>

<div id="vote_results">

</div>
